REGISTRY_CODE=12345678
LEGAL_ADDRESS="Some county, Area/Town, Street 1, 12345"
FISCAL_YEAR=2025
MONTHS_WITH_ZERO_BUSINESS_ACTIVITY=1,2,3,12
REPORT_SCHEME="mikroettevõtja" # or 'väikeettevõtja', etc
ACTIVITY_NAME="Konsultatsiooniteenused" # Field of activity for net-sales note (Estonian, 30-500 chars)
PRIOR_YEAR_REVENUE=0 # Prior fiscal year net revenue in EUR (for comparative net-sales note)